{% extends "::base.html.twig" %}

{% block body %}
    <h1> Suivi des Diplomes </h1>
    <div class="col-md-6">
            <h2>Listes des diplomes</h2>
            <table>
                <thead>
                <th>Intitulé</th>
                <th>Actions</th>
                </thead>
                <tbody>
                {% for diplome in lesDiplomes %}
                <tr>
                    <td>
                        {{ diplome.libelle }}
                    </td>
                    <td>
                        <a href="{{ path('diplome_delete',{'diplome' : diplome.id}) }}">Supprimer le diplome</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="col-md-6">
        <h2>Ajouter un diplome</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br/>
        <button type="submit" class="btn btn-success">Ajout du diplome</button>
        {{ form_end(form) }}
    </div>
    <div class="clr"></div>
{% endblock %}