{% extends '::base.html.twig' %}

{% block body  %}

    <div class="col-md-6">
        <h2>Rechercher une entreprise</h2>

        <h4> Nom de l'entreprise </h4>

        <form action="{{ path('entreprise_show_id') }}" method="post">

        <select name="entreprise" class="form-control">
            {% for entreprise in lesEntreprises %}

                <option value={{ entreprise.id }}>{{ entreprise.nom }}</option>

            {% endfor %}
                </select>
        <br/>
         <button type="submit" class="btn btn-success">Rechercher </button>
        </form>
    </div>

    <div class="col-md-6">
        <h2>Ajouter une entreprise</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-success">Ajout d'une entreprise</button>

        {{ form_end(form) }}
    </div>
{% endblock %}