{% extends '::base.html.twig' %}

{% block body  %}

    <div class="col-md-6">
        <h2>Rechercher un élève</h2>
        <table>
            <thead>
            <th>ID</th>
            <th>Nom élève</th>
            <th>Action</th>
            </thead>
            {% for eleve in lesEleves %}
                <tr>
                    <td>
                        {{ eleve.id }}
                    </td>
                    <td>
                        <a href={{ path('eleve_show_id', {'eleve' : eleve.id }) }}> {{ eleve.nom }}</a>
                    </td>
                    <td>
                        <a href="{{ path('eleve_delete',{'eleve' : eleve.id}) }}">Supprimer l'élève </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-6">
        <h2>Ajout d'un élève</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-success">Ajout d'un élève</button>

        {{ form_end(form) }}
    </div>
{% endblock %}