{% extends '::base.html.twig' %}

{% block body  %}

    <div class="col-md-6">
        <h2>Rechercher une entreprise</h2>

        <h4> Nom de l'entreprise </h4>
        <table>
            <thead>
            <th>ID</th>
            <th>Nom entreprise</th>
            <th>Action</th>
            </thead>
            {% for entreprise in lesEntreprises %}
                <tr>
                    <td>
                        {{ entreprise.id }}
                    </td>
                    <td>
                        <a href={{ path('entreprise_show_id', {'entreprise' : entreprise.id }) }}> {{ entreprise.nom }}</a>
                    </td>
                    <td>
                        <a href="{{ path('entreprise_delete',{'entreprise' : entreprise.id}) }}">Supprimer l'entreprise </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-6">
        <h2>Ajouter une entreprise</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-success">Ajout d'une entreprise</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
