{% extends '::base.html.twig' %}

{% block body  %}

    <div class="col-md-6">
        <h2>Listes des entreprises</h2>
        <table>
            <thead>
            <th>Intitulé</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for entreprise in lesEntreprises %}
                <tr>
                    <td>
                        {{ entreprise.nom }}
                    </td>
                    <td>
                        <a href="{{ path('entreprise_delete',{'id' : entreprise.id}) }}">Supprimer l'entreprise</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h2>Ajouter une entreprise</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-success">Ajout d'une entreprise</button>

        {{ form_end(form) }}
    </div>
{% endblock %}