{% extends '::base.html.twig' %}

{% block body  %}

    <div class="col-md-6">
        <h2>Rechercher une classe</h2>

        <h4> Nom de la classe </h4>
        <table>
            <thead>
            <th>ID</th>
            <th>Nom classe</th>
            <th>Action</th>
            </thead>
            {% for classe in lesClasses %}
                <tr>
                    <td>
                        {{ classe.id }}
                    </td>
                    <td>
                        <a href={{ path('classe_show_id', {'classe' : classe.id }) }}> {{ classe.libelle }}</a>
                    </td>
                    <td>
                        <a href="{{ path('classe_delete',{'classe' : classe.id}) }}">Supprimer la classe </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-6">
        <h2>Ajouter une classe</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-success">Ajout d'une classe</button>

        {{ form_end(form) }}
    </div>
{% endblock %}