{% extends '::base.html.twig' %}

{% block body  %}

    <div class="col-md-6">
        <h2>Rechercher un type d'entreprise</h2>

        <h4> Nom du type de l'entreprise </h4>
        <table>
            <thead>
            <th>ID</th>
            <th>Nom type</th>
            <th>Action</th>
            </thead>
            {% for entreprisetype in lesTypesEntreprises %}
                <tr>
                    <td>
                        {{ entreprisetype.id }}
                    </td>
                    <td>
                        {{ entreprisetype.libelle }}
                    </td>
                    <td>
                        <a href="{{ path('entreprisetype_delete',{'entreprisetype' : entreprisetype.id}) }}">Supprimer le type entreprise </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-6">
        <h2>Ajouter d'un type entreprise</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-success">Ajout d'un type entreprise</button>

        {{ form_end(form) }}
    </div>
{% endblock %}