{% extends '::base.html.twig' %}

{% block body  %}

    <div class="col-md-6">
        <h2>Rechercher une entreprise</h2>

        <h4> Nom de l'entreprise </h4>


            {% for entreprise in lesEntreprises %}

                <a href={{ path('entreprise_show', ['entreprise' => {{ entreprise.id }}]) }}>{{ entreprise.nom }}</a>

            {% endfor %}
    </div>

    <div class="col-md-6">
        <h2>Ajouter une entreprise</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-success">Ajout d'une entreprise</button>

        {{ form_end(form) }}
    </div>
{% endblock %}