{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <fieldset class="cadre">
            <legend class="legend"> {{ classe.libelle }}  </legend>

            <h4><strong> Information de la classe : </strong> </h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <br/>
        </fieldset>
        <button type="submit" class="btn btn-success">Modifier la classe</button>

        {{ form_end(form) }}


    </div>
    <div class="col-md-3"></div>
    <div class="col-md-12">
        <h2>Eleves de la classe {{ classe.libelle }}</h2>
        <table>
            <thead>
            <th>Nom de l'élève </th>
            <th>Action</th>
            </thead>
            {% for userclass in classe.lesEleves %}
                <tr>
                    <td>
                        <a href="{{ path('eleve_show_id',{'eleve' : userclass.id}) }}"> {{ userclass.prenom }} {{ userclass.nom }}</a>
                    </td>
                    <td>
                        <a href="{{ path('classe_eleve_delete',{'classe' : classe.id,'eleve': userclass.id}) }}">Supprimer {{ userclass.nom }} {{ userclass.prenom }} de la classe </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br> <br>
    </div>
    <div class="col-md-12">
        <h2>Liste des élèves disponible</h2>
        <table>
            <thdead>
                <th>Eleve pour ajout</th>
                <th>Action</th>
            </thdead>
            {% for eleve in lesEleves %}
                <tr>
                    <td>
                        <a href="{{ path('eleve_show_id',{'eleve' : eleve.id}) }}">{{ eleve.prenom }} {{ eleve.nom }}</a>
                    </td>
                    <td>
                        <a href="{{ path('classe_eleve_add',{'classe' : classe.id,'eleve': eleve.id}) }}">Ajout de {{ eleve.prenom }} {{ eleve.nom }} dans la classe {{ classe.libelle }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br> <br>
    </div>

{% endblock %}