{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <fieldset class="cadre">
            <legend class="legend"> {{ eleve.nom }}  </legend>

            <h4><strong> Information sur l'élève : </strong> </h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <br/>
        </fieldset>
        <button type="submit" class="btn btn-success">Modifier l'élève</button>

        {{ form_end(form) }}


    </div>
    <div class="col-md-3"></div>
    <div class="col-md-8"></div>

    <div class="col-md-12">
        <h2>Stages de {{ eleve.prenom }} {{ eleve.nom }}</h2>
        <table>
            <thead>
            <th>Nom du stage</th>
            <th>Action</th>
            </thead>
            {% for userstage in eleve.stages %}
                <tr>
                    <td>
                        <a href={{ path('stage_show_id', {'stage' : userstage.id }) }}> {{ userstage.libelleStage }}</a>
                    </td>
                    <td>
                        <a href="{{ path('stage_delete',{'stage' : userstage.id}) }}">Supprimer le stage </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br> <br>
    </div>
    <div class="col-md-12">
        <h2>Liste des stages pour ajout a l'élève</h2>
        <table>
        <thdead>
            <th>Nom du stage</th>
            <th>Action</th>
        </thdead>
        {% for stage in lesStages %}
        <tr>
            <td>
                <a href={{ path('stage_show_id', {'stage' : stage.id }) }}> {{ stage.libelleStage }}</a>
            </td>
            <td>
                <a href="{{ path('add_stage_eleve',{'eleve' : eleve.id,'stage' : stage.id}) }}">Ajouter le stage a {{ eleve.prenom }}</a>
            </td>
        </tr>
        </table>
        {% endfor %}
    </div>

{% endblock %}