{% extends "::base.html.twig" %}

{% block body %}
    <h1> Suivi des Technologies </h1>
    <div class="gch">
        <h2>Listes des technologies</h2>
        <table>
            <thead>
            <th>Intitulé</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for technos in lesTechnologies %}
                <tr>
                    <td>
                        {{ technos.libelleTechnologie }}
                    </td>
                    <td>
                        <a href="{{ path('techno_delete',{'id' : technos.id}) }}">Supprimer la technologie</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="drt">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Ajout de la technologie</button>
        {{ form_end(form) }}
    </div>
    <div class="clr"></div>
{% endblock %}