{% extends "::base.html.twig" %}

{% block body %}
    <h1> Suivi des Visites </h1>
    <div class="col-md-6">
        <h2>Liste des Visites</h2>
        <table>
            <thead>
            <th>Date</th>
            <th>observation</th>
            <th>Action</th>
            </thead>
            <tbody>
            {% for visite in lesVisits %}
                <tr>
                    <td>
                        {{ visite.date|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ visite.observation }}
                    </td>
                    <td>
                        <a href="{{ path('visite_delete',{'visite' : visite.id}) }}">Supprimer la visite </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-md-6">
        <h2>Ajout d'une Visite</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br/>
        <button type="submit" class="btn btn-success">Ajout de la visite</button>
        {{ form_end(form) }}
    </div>

    <script>
        $(document).ready(function() {
            // configure the bootstrap datepicker
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
        });
    </script>
{% endblock %}
